.greenToken td:first-of-type {
  color: lightgreen;
}

.redToken td:first-of-type {
  color: pink;
}

.yellowToken td:first-of-type {
  color: yellow;
}

.grayToken td:first-of-type {
  color: lightgray;
}

.brownToken td:first-of-type {
  color: #c4a4b4;
}

.blueToken td:first-of-type {
  color: rgb(139, 207, 234);
}

tr.resourceRow > td {
  font-size: 2rem;
  text-align: center;
  border-right: 1px white solid;
}

tr > td.zero {
  color: red;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
