.container {
  display: flex;
  justify-content: center;
}

.flexItem {
  flex: 1;
}

.comission {
  font-size: 2vw;
}

.opponent,
.myself {
  font-size: 1rem;
  color: white;
}

div.opponent {
  border-left: 1rem double white;
}

.myself td,
.opponent td {
  border: none;
}

.plus {
  margin-right: 1em;
}

.minus {
  margin-left: 1em;
}
